<div class="main-container" fxFlex fxLayout="column">
  <mat-card fxFlex fxLayout="column" fxLayoutAlign="start start">
    <!-- having more time I would have componentised also the input field -->
    <app-input-box (change)="checkField($event)" (submitUrl)="submitURL($event)"  [disabled]="submitActive" ></app-input-box>
    <app-error-box #errorBox></app-error-box>
  </mat-card>
  <mat-card class="mt" fxFlex fxLayout="column" fxLayoutAlign="center center">
    <app-data-table-component (deleteEvent)="deleteItem($event)" [entries]="pageOfItems"></app-data-table-component>
    <app-pagination-component aria-label="pagination" #myPagination [initialPage]="initialPage" fxFlex="55" [items]="items"
                              (pageNumberChange)="bookMarkPage($event)" (changePage)="onChangePage($event)">
    </app-pagination-component>
  </mat-card>
</div>
