<div class="main-container" fxFlex fxLayout="column">
  <mat-card fxFlex fxLayout="column">
    <form class="example-form" fxFlex fxLayout="row">
      <mat-form-field class="example-full-width">
        <!-- [errorStateMatcher]="matcher"-->
        <mat-label>Http address</mat-label>
        <label>
          <input [(ngModel)]="inputFieldValue" type="email" matInput
                 [formControl]="emailFormControl"
                 (keyup)="checkField($event)" (change)="checkField($event)"
                 placeholder="">
        </label>
      </mat-form-field>
      <button mat-raised-button color="accent" class="submitButton" [disabled]="submitActive" (click)="submitURL()">Save
        Url
      </button>
    </form>
    <div class="errorBox" *ngIf="inputFieldValue!='' && submitActive">Generic error message</div>
  </mat-card>
  <mat-card fxFlex fxLayout="column" fxLayoutAlign="center center">
    <app-data-table-component [entries]="pageOfItems"></app-data-table-component>
    <app-pagination-component #myPagination [initialPage]="initialPage" fxFlex="55" [items]="items"
                              (pageNumberChange)="bookMarkPage($event)" (changePage)="onChangePage($event)">

    </app-pagination-component>
  </mat-card>
</div>

