<div class="main-container" fxFlex fxLayout="column">
  <mat-card fxFlex fxLayout="column" fxLayoutAlign="start start">
    <!-- having more time I would have componentised also the input field -->
    <app-input-box></app-input-box>
    <form class="example-form" fxFlex fxLayout="row">
      <mat-form-field class="example-full-width">
        <mat-label>Type in http address</mat-label>
        <label>
          <input [(ngModel)]="inputFieldValue" type="email" matInput
                 [formControl]="emailFormControl"
                 aria-label="type in http address"
                 (keyup)="checkField($event)" (change)="checkField($event)"
                 placeholder="">
        </label>
      </mat-form-field>
      <button aria-label="save url" mat-raised-button color="accent" class="submit-button" [disabled]="submitActive" (click)="submitURL()">Save
        Url
      </button>
    </form>
    <app-error-box #errorBox></app-error-box>
  </mat-card>
  <mat-card class="mt" fxFlex fxLayout="column" fxLayoutAlign="center center">
    <app-data-table-component [entries]="pageOfItems"></app-data-table-component>
    <app-pagination-component aria-label="pagination" #myPagination [initialPage]="initialPage" fxFlex="55" [items]="items"
                              (pageNumberChange)="bookMarkPage($event)" (changePage)="onChangePage($event)">
    </app-pagination-component>
  </mat-card>
</div>

